{# src/MDQ/UserBundle/Resources/views/User/profileU.html.twig #}

{% extends "MDQUserBundle::layout.html.twig" %}

{% block title %}
  Profil de {{ user.username }}
{% endblock %}

{% block fos_user_content %}

	
	  <div class="bloc_profile_joueur" id="profile_joueur">
	  <div id="profil_partie_gauche">
		{# <div class="titre_bloc_joueur">Profil</div> #}
		<p><span {{colorSexe(user.sexe) }}>{{ user.sexe|sexe }}</span></p>
		<p>{{ age(user.datenaissance|date('d/m/Y')) }} ans, 
		{{ user.departement }}</p>
		</br>
		<p id="date_inscription_joueur">Inscription le {{ user.datecreate|date('d/m/Y') }} </p>
		<p> Dernière connection : <span >{{ user.lastLogin|date('d/m/Y') }}</span></p>

		</div>
		<div id="profil_partie_centre">
		
		<img style="margin-top:-50px" src="{{ asset(usertwig.testMaitre(user)) }}" width=100%  alt="" >


		</div>
		<div id="profil_partie_droite">


		</div>
			

		
	  </div>
	<div class="bloc_profile_joueur" id="stats_joueur">
		<div class="titre_bloc_joueur">Stats</div>
		<div id="user_stats_medailles">
		<div class="user_stats_titre">Médailles</div>
			<div id="user_stats_tab_medaille">
			<table>
					<tr>
						<th></th>
						<th>Or</th>
						<th>Argent</th>
						<th>Bronze</th>
						<th class="tab_med_med_Ch">Chocolat</th>
						<th class="tab_med_med_Ct">Coton</th>
					</tr>

					
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedKm', 'id':user.scuser.id}) }}">King Master</a></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Km1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Km1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Km2,'Ag'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Km2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Km3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Km3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Km4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Km4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Km5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Km5)}}</div></td>	
					</tr>
					
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedMq', 'id':user.scuser.id}) }}">MasterQuizz</a></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Mq1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Mq1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Mq2,'Ag'))}} alt="Med" width="60px" ><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Mq2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Mq3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Mq3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Mq4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Mq4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Mq5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Mq5)}}</div></td>
					</tr>
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedCq', 'id':user.scuser.id}) }}">Quizz du Capitaine</a></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Cq1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Cq1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Cq2,'Ag'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Cq2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Cq3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Cq3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Cq4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Cq4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Cq5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Cq5)}}</div></td>
					</tr>
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedAr', 'id':user.scuser.id}) }}">Quizz Art</a></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ar1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ar1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ar2,'Ag'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ar2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ar3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ar3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ar4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ar4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ar5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ar5)}}</div></td>
					</tr>
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedFf', 'id':user.scuser.id}) }}">Quizz Nature</a></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ff1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ff1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ff2,'Ag'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ff2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ff3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ff3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ff4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ff4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Ff5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Ff5)}}</div></td>
					</tr>
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedLx', 'id':user.scuser.id}) }}">Quizz Géo</a></td>				<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Lx1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Lx1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Lx2,'Ag'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Lx2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Lx3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Lx3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Lx4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Lx4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Lx5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Lx5)}}</div></td>
					</tr>
					<tr>
						<td class="tab_med_titre"><a href="{{ path('mdqgene_highScore', {'crit':'MedWz', 'id':user.scuser.id}) }}">Quizz Wouzou</a></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Wz1,'Or'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Wz1)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Wz2,'Ag'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Wz2)}}</div></td>
						<td class="tab_med_med"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Wz3,'Bz'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Wz3)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Wz4,'Ch'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Wz4)}}</div></td>
						<td class="tab_med_med med_td_swich_querry"><img src={{ asset(usertwig.tabMedailles(user.scuser.medailles.Wz5,'Ct'))}} alt="Med" width="60px"><div class="user_tab_med">{{usertwig.spanMed(user.scuser.medailles.Wz5)}}</div></td>
					</tr>
			</table>
			</div>
			<div> <a href="{{ path('mdqgene_highScore', {'crit':'totMed', 'id':user.scuser.id}) }}">Nombre total de médailles : {{user.scuser.medailles.totMed|chgeNull}}</a>
			</div>
		</div>
		
		<div id="user_stats_Mq">
		<div id="user_stats_titre_MqKm" class="user_stats_titre">MasterQuizz et Tournoi Royal</div>
		<div id="stats_bloc1">
			<div class="user_stats_titre_Mq">MasterQuizz</div>
			<div class="profile_user_type">Score du jour :<a href="{{ path('mdqgene_highScore', {'crit':'scofDayMq', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scUser.scofDayMq|chgeNull}}</span></div></a>

			<div class="profile_user_type">Meilleur score : <a href="{{ path('mdqgene_highScore', {'crit':'scMaxMq', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scUser.scMaxMq}}</span></div></a>
			<div id="stats_date_hsc">{% if user.scUser.datescMaxMq!=NULL %}({{user.scUser.datescMaxMq|date('d/m/Y') }}){% endif%}</div>			
			
			<div class="profile_user_type {{usertwig.testInfobulle99(user.scuser.nbQtotMq)}}"  aria-label="Il faut avoir répondu à plus de 100 questions au Masterquizz pour que les scores soient calculés."> % de bonnes réponses :<a href="{{ path('mdqgene_highScore', {'crit':'prctBrtotMq', 'id':user.scuser.id}) }}"><span class="score_profile"><span   >{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBrtotMq)}}</span></span></a></div>							
			<div class="profile_user_type {{usertwig.testInfobulle99(user.scuser.nbQtotMq)}}" aria-label="Il faut avoir répondu à plus de 100 questions au Masterquizz pour que les scores soient calculés."> Score moyen : <a href="{{ path('mdqgene_highScore', {'crit':'scMoyMq', 'id':user.scuser.id}) }}"><span  class="score_profile">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.scMoyMq)}}</span></a></div>
								
			<div class="profile_user_type"> Nombre de questions jouées : <a href="{{ path('mdqgene_highScore', {'crit':'nbQtotMq', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scUser.nbQtotMq}}</span></a></div>

			</br>
			<div id="stats_masters">
			<div class="user_stats_titre_Mq" style="margin-top:10px;">Tournoi Royal</div>
			<div class="profile_user_type"> Score actuel :<a href="{{ path('mdqgene_highScore', {'crit':'kingMaster', 'id':user.scuser.id}) }}"><span class="score_profile"> {{user.scUser.kingMaster|chgeNull}} </span></a></div>
			<div class="profile_user_type"> Meilleur score :<a href="{{ path('mdqgene_highScore', {'crit':'highScKM', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scUser.highScKM}}</span></a></div>
			</div>
		</div>
		<div id="graph_bande_stats" >
			<div id="user_graphstats_titre" class={{usertwig.testInfobulle99(user.scuser.nbQtotMq)}} aria-label="Il faut avoir répondu à plus de 100 questions au Masterquizz pour que les scores soient calculés.">% de bonnes réponses par catégorie</div>
			<div id="bande_H"><a href="{{ path('mdqgene_highScore', {'crit':'prctBrhMq', 'id':user.scuser.id}) }}"><div class="dom_bande">Histoire</div><div class="base"><div class="bande_score" id="bande_score_H"></div><div class="bande_fin"></div></div><div class="bande_prct"><span id="sc_prct_H">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBrhMq)}}</span> %</div></a></div>
			<div><a href="{{ path('mdqgene_highScore', {'crit':'prctBrgMq', 'id':user.scuser.id}) }}"><div class="dom_bande">Géographie </div><div class="base"><div class="bande_score" id="bande_score_G"></div><div class="bande_fin"></div></div><div class="bande_prct"><span id="sc_prct_G">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBrgMq)}}</span> %</div></a></div>
			<div><a href="{{ path('mdqgene_highScore', {'crit':'prctBrsnMq', 'id':user.scuser.id}) }}"><div class="dom_bande">Sciences et nature </div><div class="base"><div class="bande_score" id="bande_score_SN"></div><div class="bande_fin"></div></div><div class="bande_prct"><span id="sc_prct_SN">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBrsnMq)}}</span> %</div></a></div>
			<div><a href="{{ path('mdqgene_highScore', {'crit':'prctBralMq', 'id':user.scuser.id}) }}"><div class="dom_bande">Arts et Littérature </div><div class="base"><div class="bande_score" id="bande_score_AL"></div><div class="bande_fin"></div></div><div class="bande_prct"><span id="sc_prct_AL">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBralMq)}}</span> %</div></a></div>
			<div><a href="{{ path('mdqgene_highScore', {'crit':'prctBrslMq', 'id':user.scuser.id}) }}"><div class="dom_bande">Sports et loisirs </div><div class="base"><div class="bande_score" id="bande_score_SL"></div><div class="bande_fin"></div></div><div class="bande_prct"><span id="sc_prct_SL">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBrslMq)}}</span> %</div></a></div>
			<div><a href="{{ path('mdqgene_highScore', {'crit':'prctBrdMq', 'id':user.scuser.id}) }}"><div class="dom_bande">Divers </div><div class="base"><div class="bande_score" id="bande_score_D"></div><div class="bande_fin"></div></div><div class="bande_prct"><span id="sc_prct_D">{{usertwig.testSup99Mq(user.scuser.nbQtotMq,user.scUser.prctBrdMq)}}</span> %</div></a></div>
		</div>
		</div>
		</div>
		<div id="user_stats_QnF">
		<div class="user_stats_titre">Quizz du Capitaine</div>
			<div id="user_stats_QnF_bloc1">
				<div id="user_stats_QnF_TF">
					<img src={{ asset('bundles/mdqgene/images/LogoScCap.png') }} alt="Captain's Quizz" width="170px">
					<div class="user_stats_QnF_col_line">
						<span class="user_stats_QnF_crit">Score du jour :</span><a href="{{ path('mdqgene_highScore', {'crit':'scofDayCq', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scofdayCq|chgeNull}}</span></a>
					</div>
					<div class="user_stats_QnF_col_line">
						<span class="user_stats_QnF_crit">Meilleur score :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMaxCq', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMaxCq}}</span></a>
					</div>
				</div>
			</div>
			<div id="user_stats_QnF_bloc2">
			<div class="user_stats_QnF_col">
				<div class="user_stats_QnF_col_titre"><img src={{ asset('bundles/mdqgene/images/LogoQuizzAr2.png') }} alt="Art" width="120px"></div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score jour :</span><a href="{{ path('mdqgene_highScore', {'crit':'scofDayAr', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scofdayAr|chgeNull}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score max :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMaxAr', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMaxAr}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score moy :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMoyAr', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMoyAr}}</span></a>
				</div>
			</div>
			<div class="user_stats_QnF_col">
				<div class="user_stats_QnF_col_titre"><img src={{ asset('bundles/mdqgene/images/LogoQuizzFf2.png') }} alt="Nature" width="120px"></div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score jour :</span><a href="{{ path('mdqgene_highScore', {'crit':'scofDayFf', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scofdayFf|chgeNull}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
				<span class="user_stats_QnF_crit">Score max :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMaxFf', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMaxFf}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
				<span class="user_stats_QnF_crit">Score moy :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMoyFf', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMoyFf}}</span></a>
				</div>
				</div>
			<div class="user_stats_QnF_col">
				<div class="user_stats_QnF_col_titre"><img src={{ asset('bundles/mdqgene/images/LogoQuizzWz.png') }} alt="Wouzou" width="120px"></div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score jour :</span><a href="{{ path('mdqgene_highScore', {'crit':'scofDayWz', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scofdayWz|chgeNull}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score max :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMaxWz', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMaxWz}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">				
					<span class="user_stats_QnF_crit">Score moy :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMoyWz', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMoyWz}}</span></a>
				</div>
			</div>
			<div class="user_stats_QnF_col">
				<div class="user_stats_QnF_col_titre"><img src={{ asset('bundles/mdqgene/images/LogoQuizzLx2.png') }} alt="Lieux" width="120px"></div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score jour :</span><a href="{{ path('mdqgene_highScore', {'crit':'scofDayLx', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scofdayLx|chgeNull}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score max :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMaxLx', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMaxLx}}</span></a>
				</div>
				<div class="user_stats_QnF_col_line">
					<span class="user_stats_QnF_crit">Score moy :</span><a href="{{ path('mdqgene_highScore', {'crit':'scMoyLx', 'id':user.scuser.id}) }}"><span class="score_profile">{{user.scuser.scMoyLx}}</span></a>
				</div>
			</div>
			</div>

	</div>
	<div class="bloc_profile_joueur" id="derparties_joueur">
		<div class="titre_bloc_joueur">Dernières parties</div>
		{% if derParties is defined %}
		{% for partie in derParties %}
			<div id="partie{{loop.index}}" class="derpartie">
			<span {{usertwig.spanDerPartie(partie.type)}}>{{usertwig.affichePartieType(partie.type)}}</span>
			: {{partie.score}} <span style="font-size:9px;">-{{partie.date|date('d/m/Y')}}</span></div>
		{% endfor %}
		{% endif %}
	</div>
	
 {% block infoperso %}
 
 {% endblock %}
	
 {% block infoadmin %}
 
 {% endblock %}
	
  
{% endblock %}
{% block user_menu %}
	<div class="bloc_menu">
	  <ul>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/mdqgene/images/petiteboulejaune.png')}}" alt="bjaune" width="20px">Accueil</a></li>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/mdqgene/images/petiteboulebleue.png')}}" alt="bbleue" width="20px">Retour</a></li>

	  </ul>
	</div>
{%endblock %}

{% block javascripts %}
	<script	src="{{ asset('bundles/jquery.js') }}"></script>
	<script	src="{{ asset('bundles/mdquser/js/profile.js') }}"></script>

{% endblock %}

