{# src/MDQ/UserBundle/Resources/views/User/profileUAuto.html.twig #}

{% extends "MDQUserBundle:User:profileU.html.twig" %}

{% block title %}
  Votre compte
{% endblock %}

{% block retour %}
{% endblock %}

{% block infoperso %}

	<div class="bloc_profile_joueur" id="donnees_perso">
		<div class="titre_bloc_joueur">Données personnelles</div>
		<p> date de naissance : {{ user.datenaissance|date('d/m/Y') }} </p>
		<p> email : {{ user.email }}</p>
		</br>

		
		<a href="{{ path('mdquser_profileUAutoEdit') }}"><div class="profileUAuto_button">Modifier mes informations</div></a>
	  </div>
	<div class="bloc_profile_joueur" >
		<div class="titre_bloc_joueur">Mes questions</div>
		
      {% if testPropQ(user.scuser.nbPMq, nbQaval7j, gestionQProp)==0 and (not is_granted('ROLE_ADMIN')) %}
		<div class="profileUAuto_button_inactive">Proposer une question</div>
		<div class="profileUAuto_inactif">{{ txtRefusPropQ(user.scuser.nbPMq, nbQaval7j, gestionQProp)}}</div>
		</div>
	{% else %}
	<a href="{{path ('mdqquestion_ajouterQ')}}">	<div class="profileUAuto_button">Proposer une question</div></a>
	{% endif %}
	{% if user.scuser.nbQprop>0 %}
		{{phraseQaval(user.scuser.nbQprop,user.scuser.nbQvalid)}}
		<table id="profileUAuto_table_Q">
			<thead>
			<tr>
				<th class="profileUAuto_table_Q_intitule">Questions proposées</th>
				<th>Réponses</th>
			</tr>
			</thead>
			<tbody>
		{% for question in qaval %}
			<tr>
				<td class="profileUAuto_table_Q_intitule">{{question.intitule}}</td>
				<td class="profileUAuto_table_Q_rep">				
				{% if question.repAdmin>9 and question.repAdmin<20 %}<a href="{{ path('mdqquestion_modifQaval', {'id':question.id}) }}">Retournée</a>
				{% else %}<span style="color : {{retourQavalColor(question.repAdmin, question.retournee)}}">{{retourQavalTxt(question.repAdmin, question.retournee)}}</span>
				{%endif%}</td>
			</tr>
		{% endfor %}
			</tbody>
		</table>
	{% else %}
		Vous n'avez pas encore proposé de question.
	{% endif %}
		</div>
	{% endblock %}
{% block user_menu %}
	<div class="bloc_menu">
	  <ul>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/GeneBundle/petiteboulejaune.png')}}" alt="bjaune" width="20px">Accueil</a></li>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/GeneBundle/petiteboulebleue.png')}}" alt="bbleue" width="20px">Retour</a></li>

	  </ul>
	</div>
{%endblock %}

