{# src/MDQ/QuizzBundle/Resources/views/Quizz/page1Quizz.html.twig #}

{% extends "MDQQuizzBundle:Quizz:layoutjeuQ.html.twig" %}

{% block meta %}
<meta http-equiv="refresh" content="8;url=../" />
{% endblock %}
	{% block bloc_page %}
	<div id="bloc_page" class="{{bloc_page}}" oncontextmenu="return false;" >
	{% endblock %}
{% block haut_page %}	
	<div id="haut_page">
	<div id="bloc_titre">
	  <img src="{{ asset('bundles/mdqgene/images/MDQ3b.png') }}" alt="titre" width="100%">
	</div>
	</div>
{% endblock %}
{% block audio %}
{% endblock %}
{% block question %}
	<div id="bloc_question">	
		<div id="bloc_question_haut">
			<div id="bloc_question_dom">Fin de la partie</div>
			<div id="bloc_question_numQ"></div>
		</div>
		<div id="bloc_question_central">
			<div id="bloc_finPartie">	
				{% if com.feu==1 %}	
				<div id="bloc_finPartie_feux">
				{% else %}
				<div id="bloc_finPartie_sans_feux">
				{% endif %}
				    <div id="bloc_finPartie_txt">
				    <p>{{ com.phrase1 }}</p>	
				    <p>{{ com.phrase2 }}</p>
				    <p>{{ com.phrase3 }}</p>
				    </div>
				</div>
			</div>
			
		
		</div>

	</div>
{% endblock %}
{% block proposition %}
		<div id="fin_partie_bloc_bas">
		<div id="fin_partie_bloc_bas_txt">
		A bientôt, pour une nouvelle partie sur <img src="{{ asset('bundles/mdqgene/images/MDQlogblc.png') }}" alt="titre" width="100px" style="display:inline-block; vertical-align:middle;">
		</div>
		</div>
		<div id="jeu_bloc_error_volume">
		      <div id="quizz_volume"></div>
		</div>
			<div id="jeu_bloc_bloc_valid"><div id="jeu_bloc_valid"><a href="{{ path('mdqgene_accueil') }}"><img src="{{asset('bundles/mdqgene/images/buttonvalidMq4.png')}}" alt="valider" width="100%"></a></div></div>
	

	</div>

	
 {% endblock %}
  {% block javascripts %}

{% endblock %}

