{# src/MDQ/QuizzBundle/Resources/views/Quizz/jeuQuizz.html.twig #}

{% extends "MDQQuizzBundle::layoutQz.html.twig" %}
	{% block haut_page %}	
	<div id="haut_page">
	<div id="bloc_titre">
	  <img src="{{ asset('bundles/mdqgene/images/MDQ3b.png') }}" alt="titre" width="100%">
	</div>
	<div id="jeu_bloc_score">
		<div id="jeu_bloc_score_1">
		<div id="jeu_bloc_score_titre">Score</div>
		<div id="jeu_bloc_score_score">0</div>
		<div id="modifScore"></div>
		</div>
		<div id="jeu_bloc_timer"><img src="../../../bundles/mdqgene/images/maboulerouge.png" alt="brouge" width="100%"><img id="jeu_img_boule_noire" src="../../../bundles/mdqgene/images/maboulenoire.png" alt="bnoire" width="100%"><div id="timer"></div></div>
	</div>
	</div>
	{% endblock %}

{% block body %}
      {% block audio %}
	    <audio id="son_fondjeu" style="display: none;" >
			<source src="{{ asset('bundles/mdqquizz/sons/fondMq.mp3') }}" />
			<source src="{{ asset('bundles/mdqquizz/sons/fondMq.ogg') }}" />
	    </audio>
	    <audio id="son_clicvalid" style="display: none;">
			<source src="{{ asset('bundles/mdqquizz/sons/valid8.mp3') }}" />
			<source src="{{ asset('bundles/mdqquizz/sons/valid8.ogg') }}" />
	    </audio>
	    <audio id="son_fintps" style="display: none;">
			<source src="{{ asset('bundles/mdqquizz/sons/fintpsMq.mp3') }}" />
			<source src="{{ asset('bundles/mdqquizz/sons/fintpsMq.ogg') }}" />
	    </audio>	
	    <audio id="son_echec" style="display: none;">
			<source src="{{ asset('bundles/mdqquizz/sons/echecMq.mp3') }}" />
			<source src="{{ asset('bundles/mdqquizz/sons/echecMq.ogg') }}" />
	    </audio>
	    <audio id="son_succes" style="display: none;">
			<source src="{{ asset('bundles/mdqquizz/sons/succesMq.mp3') }}" />
			<source src="{{ asset('bundles/mdqquizz/sons/succesMq.ogg') }}" />
	    </audio>				
      {% endblock %}
      <div id="marge_avt_bloc_question"></div>
      {% block question %}
      {% endblock %}
	
      {% block proposition %}	
	<div id="quizz_proposition">	
		<div class="bloc_reponse"><div id="rep1"></div></div><!-- pour supprimer les white-spice entre les blocs accolés
		--><div class="bloc_reponse"><div id="rep2"></div></div><!--
		--><div class="bloc_reponse"><div id="rep3"></div></div><!--
		--><div class="bloc_reponse"><div id="rep4"></div></div>
	</div>
		<div id="jeu_bloc_error_volume">
	{% if app.user.AllowError==1 and signalE==1 or is_granted('ROLE_ADMIN') %} <div id="jeu_bloc_error"><img src="{{asset('bundles/mdqgene/images/maboulejaune.png')}}" alt="bjaune" width="15px" title="Signaler une erreur"></div> {% endif %}
	<div id="quizz_volume"><img src="{{asset('bundles/mdqquizz/images/vol2.png')}}" alt="vol2" width="25px"></div>
	</div>
	<div id="jeu_bloc_bloc_valid"><div id="jeu_bloc_valid"><img src="{{asset('bundles/mdqgene/images/buttonvalidMq.png')}}" alt="valider" width="100%" draggable='false' ondragstart="return false;"></div></div>

	{% if app.user.AllowError==1 and signalE==1 or is_granted('ROLE_ADMIN') %}
	<div id="jeu_bloc_bloc_precise_error"><div id="jeu_bloc_precise_error">
	<div id="bloc_precise_error_titre">Erreur signalée</div>
	
	<form>
		<p>
		<label for="erreur">Réponse fausse</label><input type="checkbox" name="erreur" class="checkbox_error"/></br>
		<label for="ortho">Faute d'orthographe</label><input type="checkbox" name="ortho" class="checkbox_error"/></br>
		<label for="autre">Autre</label><input type="checkbox" name="autre" class="checkbox_error"/></br>
		<input type="button" name="valider" value="Valider" id="button_valid_error" class="bloc_precise_error_button">
		<input type="button" name="annuler" value="Annuler" id="button_annule_error" class="bloc_precise_error_button">
		</p>
	</form>
	</div></div>
	{% endif %}
	{% endblock %}
	
  {% endblock %}
  
 {% block javascripts %}
	<script	src="{{ asset('bundles/jquery.js') }}"></script>
	<script	src="{{ asset('bundles/mdqquizz/js/jeuquizz2.js') }}"></script>

{% endblock %}
