
	<div id="accueil_bloc2">
	      <div id="accueil_bloc2_gauche">
		<div id="highScDay" class="bloc">
	  <div class="img_highscore"><a href="{{ path('mdqgene_highScore', {'crit':'scofDayMq'}) }}"><img src="../bundles/mdqgene/images/highScoreDay2.jpg" alt="scoredujour" width="200px"></a></div>
		<div class="accueil_heighSC_1">
			<img src="../bundles/mdqgene/images/coupeminiOr.png" alt="coupe" height="22px">
			1- <a {{accueilServ.highScHref("scofDayMq", 1) }} >{{accueilServ.highScUser("scofDayMq", 1) }} </a>{{accueilServ.highScScore("scofDayMq", 1)}}
		</div>
		
		<div class="accueil_heighSC_2">
			<img src="../bundles/mdqgene/images/coupeminiAg.png" alt="coupe" height="18px">
			2- <a {{accueilServ.highScHref("scofDayMq", 2) }} >{{accueilServ.highScUser("scofDayMq", 2) }} </a>{{accueilServ.highScScore("scofDayMq", 2)}}
		</div>
		
		<div class="accueil_heighSC_3">
			<img src="../bundles/mdqgene/images/coupeminiBz.png" alt="coupe" height="14px">
			3- <a {{accueilServ.highScHref("scofDayMq", 3) }} >{{accueilServ.highScUser("scofDayMq", 3) }} </a>{{accueilServ.highScScore("scofDayMq", 3)}}
		</div>
		
		<div class="accueil_heighSC_col"><div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">4-  <a {{accueilServ.highScHref("scofDayMq", 4) }} >{{accueilServ.highScUser("scofDayMq", 4)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",4)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">5-  <a {{accueilServ.highScHref("scofDayMq", 5) }} >{{accueilServ.highScUser("scofDayMq", 5)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",5)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">6-  <a {{accueilServ.highScHref("scofDayMq", 6) }} >{{accueilServ.highScUser("scofDayMq", 6)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",6)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">7-  <a {{accueilServ.highScHref("scofDayMq", 7) }} >{{accueilServ.highScUser("scofDayMq", 7)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",7)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">8-  <a {{accueilServ.highScHref("scofDayMq", 8) }} >{{accueilServ.highScUser("scofDayMq", 8)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",8)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">9-  <a {{accueilServ.highScHref("scofDayMq", 9) }} >{{accueilServ.highScUser("scofDayMq", 9)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",9)}}</div>
		 </div>
		</div>
		
		<div class="accueil_heighSC_col2"><div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">10-  <a {{accueilServ.highScHref("scofDayMq", 10) }} >{{accueilServ.highScUser("scofDayMq", 10)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",10)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">11-  <a {{accueilServ.highScHref("scofDayMq", 11) }} >{{accueilServ.highScUser("scofDayMq", 11)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",11)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">12-  <a {{accueilServ.highScHref("scofDayMq", 12) }} >{{accueilServ.highScUser("scofDayMq", 12)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",12)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">13-  <a {{accueilServ.highScHref("scofDayMq", 13) }} >{{accueilServ.highScUser("scofDayMq", 13)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",13)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">14-  <a {{accueilServ.highScHref("scofDayMq", 14) }} >{{accueilServ.highScUser("scofDayMq", 14)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",14)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">15-  <a {{accueilServ.highScHref("scofDayMq", 15) }} >{{accueilServ.highScUser("scofDayMq", 15)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayMq",15)}}</div>
		 </div>			

		</div></div>
		<div id="highScMonth" class="bloc">
		 <div class="img_highscore"><a href="{{ path('mdqgene_highScore', {'crit':'kingMaster'}) }}"><img src="../bundles/mdqgene/images/tournoiRoyal.png" alt="scoredujour" width="200px"></a></div>

		<div class="accueil_heighSC_1">
			<img src="../bundles/mdqgene/images/coupeminiOr.png" alt="coupe" height="22px">
			1- <a {{accueilServ.highScHref("kingMaster", 1) }} >{{accueilServ.highScUser("kingMaster", 1) }} </a>{{accueilServ.highScScore("kingMaster", 1)}}
		</div>
		
		<div class="accueil_heighSC_2">
			<img src="../bundles/mdqgene/images/coupeminiAg.png" alt="coupe" height="18px">
			2- <a {{accueilServ.highScHref("kingMaster", 2) }} >{{accueilServ.highScUser("kingMaster", 2) }} </a>{{accueilServ.highScScore("kingMaster", 2)}}
		</div>
		
		<div class="accueil_heighSC_3">
			<img src="../bundles/mdqgene/images/coupeminiBz.png" alt="coupe" height="14px">
			3- <a {{accueilServ.highScHref("kingMaster", 3) }} >{{accueilServ.highScUser("kingMaster", 3) }} </a>{{accueilServ.highScScore("kingMaster", 3)}}
		</div>
		
		<div class="accueil_heighSC_col"><div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">4-  <a {{accueilServ.highScHref("kingMaster", 4) }} >{{accueilServ.highScUser("kingMaster", 4)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",4)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">5-  <a {{accueilServ.highScHref("kingMaster", 5) }} >{{accueilServ.highScUser("kingMaster", 5)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",5)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">6-  <a {{accueilServ.highScHref("kingMaster", 6) }} >{{accueilServ.highScUser("kingMaster", 6)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",6)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">7-  <a {{accueilServ.highScHref("kingMaster", 7) }} >{{accueilServ.highScUser("kingMaster", 7)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",7)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">8-  <a {{accueilServ.highScHref("kingMaster", 8) }} >{{accueilServ.highScUser("kingMaster", 8)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",8)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">9-  <a {{accueilServ.highScHref("kingMaster", 9) }} >{{accueilServ.highScUser("kingMaster", 9)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",9)}}</div>
		 </div>
		</div>
		
		<div class="accueil_heighSC_col2"><div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">10-  <a {{accueilServ.highScHref("kingMaster", 10) }} >{{accueilServ.highScUser("kingMaster", 10)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",10)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">11-  <a {{accueilServ.highScHref("kingMaster", 11) }} >{{accueilServ.highScUser("kingMaster", 11)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",11)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">12-  <a {{accueilServ.highScHref("kingMaster", 12) }} >{{accueilServ.highScUser("kingMaster", 12)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",12)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">13-  <a {{accueilServ.highScHref("kingMaster", 13) }} >{{accueilServ.highScUser("kingMaster", 13)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",13)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">14-  <a {{accueilServ.highScHref("kingMaster", 14) }} >{{accueilServ.highScUser("kingMaster", 14)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",14)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">15-  <a {{accueilServ.highScHref("kingMaster", 15) }} >{{accueilServ.highScUser("kingMaster", 15)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("kingMaster",15)}}</div>
		 </div>			

		</div></div>
	
	  </div>
	    <div id="accueil_bloc2_droite">
	  <div id="bloc_QnF" class="bloc">
		<div class="img_highscore"><img src="../bundles/mdqgene/images/quizzCapitaine.jpg" alt="QnF" width="200px"></div>
		<div id="bloc_QnF_EM" >
		</br>
		<a href="{{ path('mdqgene_highScore', {'crit':'scofDayCq'}) }}"><img src={{ asset('bundles/mdqgene/images/LogoScCap.png') }} alt="Captain's Quizz" width="170px"></a>
		<div class="accueil_heighSC_1">
			<img src="../bundles/mdqgene/images/coupeminiOr.png" alt="coupe" height="22px">
			1- <a {{accueilServ.highScHref("scofDayCq", 1) }} >{{accueilServ.highScUser("scofDayCq", 1) }} </a> {{accueilServ.highScScore("scofDayCq", 1)}}
		</div>
		
		<div class="accueil_heighSC_2">
			<img src="../bundles/mdqgene/images/coupeminiAg.png" alt="coupe" height="18px">
			2- <a {{accueilServ.highScHref("scofDayCq", 2) }} >{{accueilServ.highScUser("scofDayCq", 2) }} </a>{{accueilServ.highScScore("scofDayCq", 2)}}
		</div>
		
		<div class="accueil_heighSC_3">
			<img src="../bundles/mdqgene/images/coupeminiBz.png" alt="coupe" height="14px">
			3- <a {{accueilServ.highScHref("scofDayCq", 3) }} >{{accueilServ.highScUser("scofDayCq", 3) }} </a>{{accueilServ.highScScore("scofDayCq", 3)}}
		</div>
		
		<div class="accueil_heighSC_col"><div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">4-  <a {{accueilServ.highScHref("scofDayCq", 4) }} >{{accueilServ.highScUser("scofDayCq", 4)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",4)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">5-  <a {{accueilServ.highScHref("scofDayCq", 5) }} >{{accueilServ.highScUser("scofDayCq", 5)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",5)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">6-  <a {{accueilServ.highScHref("scofDayCq", 6) }} >{{accueilServ.highScUser("scofDayCq", 6)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",6)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">7-  <a {{accueilServ.highScHref("scofDayCq", 7) }} >{{accueilServ.highScUser("scofDayCq", 7)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",7)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">8-  <a {{accueilServ.highScHref("scofDayCq", 8) }} >{{accueilServ.highScUser("scofDayCq", 8)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",8)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
		<div class="accueil_highSC_nom">9-  <a {{accueilServ.highScHref("scofDayCq", 9) }} >{{accueilServ.highScUser("scofDayCq", 9)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",9)}}</div>
		 </div>
		</div>
		
		<div class="accueil_heighSC_col2"><div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">10-  <a {{accueilServ.highScHref("scofDayCq", 10) }} >{{accueilServ.highScUser("scofDayCq", 10)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",10)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">11-  <a {{accueilServ.highScHref("scofDayCq", 11) }} >{{accueilServ.highScUser("scofDayCq", 11)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",11)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">12-  <a {{accueilServ.highScHref("scofDayCq", 12) }} >{{accueilServ.highScUser("scofDayCq", 12)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",12)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">13-  <a {{accueilServ.highScHref("scofDayCq", 13) }} >{{accueilServ.highScUser("scofDayCq", 13)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",13)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">14-  <a {{accueilServ.highScHref("scofDayCq", 14) }} >{{accueilServ.highScUser("scofDayCq", 14)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",14)}}</div>
		 </div>
		<div class="accueil_heighSC_tous">
	<div class="accueil_highSC_nom">15-  <a {{accueilServ.highScHref("scofDayCq", 15) }} >{{accueilServ.highScUser("scofDayCq", 15)}} </a></div><div class="accueil_highSC_sc">{{accueilServ.highScScore("scofDayCq",15)}}</div>
		 </div>	
		</div>
		</div>
		<div id="accueil_QnF_bloc2">
		<div class="QnF_col">
			<a href="{{ path('mdqgene_highScore', {'crit':'scofDayFf'}) }}"><div class="QnF_col_titre" id="QnF_col_titre_Ff"><img src={{ asset('bundles/mdqgene/images/LogoQuizzFf2.png') }} alt="Nature" width="120px"></div></a>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">1- <a {{accueilServ.highScHref("scofDayFf", 1) }}>{{accueilServ.highScUser("scofDayFf", 1)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayFf",1)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">2- <a {{accueilServ.highScHref("scofDayFf", 2) }}>{{accueilServ.highScUser("scofDayFf", 2)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayFf",2)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">3- <a {{accueilServ.highScHref("scofDayFf", 3) }}>{{accueilServ.highScUser("scofDayFf", 3)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayFf",3)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">4- <a {{accueilServ.highScHref("scofDayFf", 4) }}>{{accueilServ.highScUser("scofDayFf", 4)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayFf",4)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">5- <a {{accueilServ.highScHref("scofDayFf", 5) }}>{{accueilServ.highScUser("scofDayFf", 5)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayFf",5)}}</div>
		</div>
		</div>
		<div class="QnF_col">
			<a href="{{ path('mdqgene_highScore', {'crit':'scofDayLx'}) }}"><div class="QnF_col_titre" id="QnF_col_titre_Lx"><img src={{ asset('bundles/mdqgene/images/LogoQuizzLx2.png') }} alt="Lieux" width="120px"></div></a>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">1- <a {{accueilServ.highScHref("scofDayLx", 1) }}>{{accueilServ.highScUser("scofDayLx", 1)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayLx",1)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">2- <a {{accueilServ.highScHref("scofDayLx", 2) }}>{{accueilServ.highScUser("scofDayLx", 2)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayLx",2)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">3- <a {{accueilServ.highScHref("scofDayLx", 3) }}>{{accueilServ.highScUser("scofDayLx", 3)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayLx",3)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">4- <a {{accueilServ.highScHref("scofDayLx", 4) }}>{{accueilServ.highScUser("scofDayLx", 4)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayLx",4)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">5- <a {{accueilServ.highScHref("scofDayLx", 5) }}>{{accueilServ.highScUser("scofDayLx", 5)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayLx",5)}}</div>
		</div>
		</div>
		</div>
		<div class="QnF_col">
			<a href="{{ path('mdqgene_highScore', {'crit':'scofDayAr'}) }}"><div class="QnF_col_titre" id="QnF_col_titre_Ff"><img src={{ asset('bundles/mdqgene/images/LogoQuizzAr2.png') }} alt="Art" width="120px"></div></a>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">1- <a {{accueilServ.highScHref("scofDayAr", 1) }}>{{accueilServ.highScUser("scofDayAr", 1)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayAr",1)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">2- <a {{accueilServ.highScHref("scofDayAr", 2) }}>{{accueilServ.highScUser("scofDayAr", 2)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayAr",2)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">3- <a {{accueilServ.highScHref("scofDayAr", 3) }}>{{accueilServ.highScUser("scofDayAr", 3)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayAr",3)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">4- <a {{accueilServ.highScHref("scofDayAr", 4) }}>{{accueilServ.highScUser("scofDayAr", 4)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayAr",4)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">5- <a {{accueilServ.highScHref("scofDayAr", 5) }}>{{accueilServ.highScUser("scofDayAr", 5)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayAr",5)}}</div>
		</div>
		</div>
		<div class="QnF_col">
			<a href="{{ path('mdqgene_highScore', {'crit':'scofDayWz'}) }}"><div class="QnF_col_titre" id="QnF_col_titre_Wz"><img src={{ asset('bundles/mdqgene/images/LogoQuizzWz.png') }} alt="Wouzou" width="120px"></div></a>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">1- <a {{accueilServ.highScHref("scofDayWz", 1) }}>{{accueilServ.highScUser("scofDayWz", 1)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayWz",1)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">2- <a {{accueilServ.highScHref("scofDayWz", 2) }}>{{accueilServ.highScUser("scofDayWz", 2)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayWz",2)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">3- <a {{accueilServ.highScHref("scofDayWz", 3) }}>{{accueilServ.highScUser("scofDayWz", 3)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayWz",3)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">4- <a {{accueilServ.highScHref("scofDayWz", 4) }}>{{accueilServ.highScUser("scofDayWz", 4)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayWz",4)}}</div>
		</div>
		<div class="QnF_ligne_HighSc">
			<div class="Qnf_highSC_nom">5- <a {{accueilServ.highScHref("scofDayWz", 5) }}>{{accueilServ.highScUser("scofDayWz", 5)}}  </a></div><div class="Qnf_highSC_sc">{{accueilServ.highScScore("scofDayWz",5)}}</div>
		</div>
		</div>
		</div>
		</div>
	</div>
	</div>
	
