
	<div id="accueil_bloc1">
	    <div id="accueil_bloc1_gauche">
		<div id="accueil_maitre" class="bloc">
		<div class="img_highscore"><img style="border:solid 1px rgb(243,248,78);" src="../bundles/mdqgene/images/MaitresMDQ2.png" alt="QnF" width="100%"></div>
		  <div id="accueil_maitre_ligne1">
		    
		    <div class="accueil_maitre_col1" id="accueil_maitre_savant">
		     <a {{accueilServ.maitreTesthref(tabMaitre.savant.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Savant",tabMaitre.savant.sexe|default(0),tabMaitre.savant.id|default(''))}} style="margin-left:-8px" alt="roi" width=68%>

			    <div class="accueil_maitre_txt">
				    <div class="accueil_maitre_txt_titre">{{accueilServ.maitreNom("Savant",tabMaitre.savant.sexe|default(''))}}</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.savant.sexe|default(''))}}>{{tabMaitre.savant.username|default('')}}</div>
				    </div>
		</a> 
		    </div>
		   
		    <div class="accueil_maitre_col1">
		     <a {{accueilServ.maitreTesthref(tabMaitre.roi.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Roi",tabMaitre.roi.sexe|default(0),tabMaitre.roi.id|default(''))}} style="margin-left:-8px" alt="roi" width=100%>

			    <div class="accueil_maitre_txt">
				    <div class="accueil_maitre_txt_titre">{{accueilServ.maitreNom("Roi", tabMaitre.roi.sexe|default(''))}}</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.roi.sexe|default(''))}}>{{tabMaitre.roi.username|default('')}}</div>
			    </div>
			    </a>
		    
		    </div>
		    
		    <div class="accueil_maitre_col1" id="accueil_maitre_capitaine">
		    <a {{accueilServ.maitreTesthref(tabMaitre.capitaine.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Capitaine",tabMaitre.capitaine.sexe|default(0),tabMaitre.capitaine.id|default(''))}} style="margin-left:-8px" alt="roi" width=68%>

			    <div class="accueil_maitre_txt">
				    <div class="accueil_maitre_txt_titre">Capitaine</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.capitaine.sexe|default(''))}}>{{tabMaitre.capitaine.username|default('')}}</div>
			    </div>
		    </a>
		    </div>
		    
		</div>
		  <div id="accueil_maitre_ligne2">		    
		    <div class="accueil_maitre_col2">
		      <a {{accueilServ.maitreTesthref(tabMaitre.paparazzi.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Paparazzi",tabMaitre.paparazzi.sexe|default(0),tabMaitre.paparazzi.id|default(''))}} style="margin-left:-8px" alt="roi" width=94%%>

			    <div class="accueil_maitre_txt2">
				    <div class="accueil_maitre_txt_titre">{{accueilServ.maitreNom("Paparazzi",tabMaitre.paparazzi.sexe|default(''))}}</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.paparazzi.sexe|default(''))}}>{{tabMaitre.paparazzi.username|default('')}}</div>
			    </div>
		    </a>

		    </div>
			
		    <div class="accueil_maitre_col2">
		      <a {{accueilServ.maitreTesthref(tabMaitre.ecolo.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Ecolo",tabMaitre.ecolo.sexe|default(0),tabMaitre.ecolo.id|default(''))}} style="margin-left:-8px" alt="roi" width=106%>

			    <div class="accueil_maitre_txt2">
				    <div class="accueil_maitre_txt_titre">Ecologiste</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.ecolo.sexe|default(''))}}>{{tabMaitre.ecolo.username|default('')}}</div>
			    </div>
		    </a>
		    </div>
			
		    <div class="accueil_maitre_col2">
		      <a {{accueilServ.maitreTesthref(tabMaitre.peintre.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Peintre",tabMaitre.peintre.sexe|default(0),tabMaitre.peintre.id|default(''))}} style="margin-left:-8px" alt="roi" width=100%>

			    <div class="accueil_maitre_txt2">
				    <div class="accueil_maitre_txt_titre">Peintre</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.peintre.sexe|default(''))}}>{{tabMaitre.peintre.username|default('')}}</div>
			    </div>
		    </a>
		    </div>
			
		    <div class="accueil_maitre_col2">
		      <a {{accueilServ.maitreTesthref(tabMaitre.globeT.id|default(''))}}>
		     <img {{accueilServ.maitreImg("Globe-T",tabMaitre.globeT.sexe|default(0),tabMaitre.globeT.id|default(''))}} style="margin-left:-8px" alt="roi" width=106%%>

			    <div class="accueil_maitre_txt2">
				    <div class="accueil_maitre_txt_titre">{{accueilServ.maitreNom("Globe-T",tabMaitre.globeT.sexe|default(''))}}</div>
				    <div class={{accueilServ.maitreColorSexe(tabMaitre.globeT.sexe|default(''))}}>{{tabMaitre.globeT.username|default('')}}</div>
			    </div>
		    </a>
		    </div>
		 </div>
		</div>
	    </div>
	    <div id="accueil_bloc1_droite">
	    <div id="accueil_bloc_menu" class="bloc">
		<div class="img_highscore"><img src="../bundles/mdqgene/images/menu.jpg" alt="menu" width="200px"></div>
		<ul>
			<li><a href="{{ path('mdqgene_regleJeu') }}"><img src="../bundles/mdqgene/images/petiteboulebleue.png" alt="menu" width="20px">Règles du jeu</a></li>
			<li><a href="{{ path('mdqgene_accueilHighScore') }}"><img src="../bundles/mdqgene/images/petiteboulerose.png" alt="menu" width="20px">Tableau d'honneur</a></li>
			<li><a href="{{ path('mdqgene_news') }}"><img src="../bundles/mdqgene/images/petitebouleverte.png" alt="info" width="20px">Info</strong></a></li>
			<li><strong class="affich_flash2" style="font-weight:normal;"><img src="../bundles/mdqgene/images/petiteboulejaune.png" alt="menu" width="20px">Forum</strong></li>
			
		</ul>
	    </div>
	    <div id="newslarge" class="bloc">
		<div id="news_titre_img"><img src="../bundles/mdqgene/images/infos.jpg" alt="infos" width="200px"></div>
		<div id="bloc_news">
			 

		  {% for new in news %}
			<div class="bloc_news_titre">{{ new.titre }}</div>
			<div class="bloc_news_date">Le {{ new.dateCreate|date('d/m/Y') }}</div>
			<div class="bloc_news_texte">{{ new.texte|nl2br }}</div>				
			{% endfor %}
		</div>  
		<div id="bloc_news2_X"><a href="{{ path('mdqgene_news') }}"><img src="../bundles/mdqgene/images/bouleverteplus.png" alt="menu" width="100%"></a></div>
		<div id="bloc_news2">
			 

		  {% for new in news %}
			<div class="bloc_news_titre">{{ new.titre }}</div>
			<div class="bloc_news_date">Le {{ new.dateCreate|date('d/m/Y') }}</div>
			<div class="bloc_news_texte">{{ new.texte|nl2br }}</div>				
			{% endfor %}
		
		</div>  
	    </div>
	    </div>
	</div>
