
		<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'MedFf'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Médailles</br>au Quizz Nature</div></div></a>
			{% for scuser in MedFf %}
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">{{loop.index}}- <a href="{{ path('mdquser_profileU', {'id':scuser.id}) }}"> {{scuser.username}} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{scuser.ff1}}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{scuser.ff2}}</div>
			</div></div>
			{% endfor %}
		</div>
		<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'MedLx'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Médailles au Quizz</br>Lieux du monde</div></div></a>
			{% for scuser in MedLx %}
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">{{loop.index}}- <a href="{{ path('mdquser_profileU', {'id':scuser.id}) }}"> {{scuser.username}} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{scuser.lx1}}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{scuser.lx2}}</div>
			</div></div>
			{% endfor %}
		</div>
		<!--<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'MedMu'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Médailles au Quizz</br>Musique Classique</div></div></a>
			{% for scuser in MedMu %}
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">{{loop.index}}- <a href="{{ path('mdquser_profileU', {'id':scuser.id}) }}"> {{scuser.username}} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{scuser.mu1}}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{scuser.mu2}}</div>
			</div></div>
			{% endfor %}
		</div>-->
		<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'highScKM'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Meilleur score</br>au KingMaster</div></div></a>
			{% for scuser in highScKm %}
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">{{loop.index}} - <a href="{{ path('mdquser_profileU', {'id':scuser.id}) }}"> {{scuser.username}} </a></div>
			<div class="accueil_HighSc_Score">{{scuser.highScKM }}</div>
			</div>
			{% endfor %}
		</div>
