
		<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'MedFf'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Médailles</br>au Quizz Nature</div></div></a>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 1) }}> {{accueilHSServ.highScUser("MedFf", 1) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 1, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 1, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 2) }}> {{accueilHSServ.highScUser("MedFf", 2) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 2, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 2, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 3) }}> {{accueilHSServ.highScUser("MedFf", 3) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 3, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 3, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 4) }}> {{accueilHSServ.highScUser("MedFf", 4) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 4, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 4, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 5) }}> {{accueilHSServ.highScUser("MedFf", 5) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 5, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 5, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 6) }}> {{accueilHSServ.highScUser("MedFf", 6) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 6, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 6, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 7) }}> {{accueilHSServ.highScUser("MedFf", 7) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 7, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 7, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 8) }}> {{accueilHSServ.highScUser("MedFf", 8) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 8, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 8, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 9) }}> {{accueilHSServ.highScUser("MedFf", 9) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 9, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 9, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedFf", 10) }}> {{accueilHSServ.highScUser("MedFf", 10) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 10, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedFf", 10, 2) }}</div>
			</div></div>
		</div>
		
		<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'MedLx'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Médailles au Quizz</br>Lieux du monde</div></div></a>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 1) }}> {{accueilHSServ.highScUser("MedLx", 1) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 1, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 1, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 2) }}> {{accueilHSServ.highScUser("MedLx", 2) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 2, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 2, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 3) }}> {{accueilHSServ.highScUser("MedLx", 3) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 3, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 3, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 4) }}> {{accueilHSServ.highScUser("MedLx", 4) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 4, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 4, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 5) }}> {{accueilHSServ.highScUser("MedLx", 5) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 5, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 5, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 6) }}> {{accueilHSServ.highScUser("MedLx", 6) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 6, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 6, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 7) }}> {{accueilHSServ.highScUser("MedLx", 7) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 7, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 7, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 8) }}> {{accueilHSServ.highScUser("MedLx", 8) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 8, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 8, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 9) }}> {{accueilHSServ.highScUser("MedLx", 9) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 9, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 9, 2) }}</div>
			</div></div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1- <a {{accueilHSServ.highScHref("MedLx", 10) }}> {{accueilHSServ.highScUser("MedLx", 10) }} </a></div>
			<div class="accueil_HighSc_Med">
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedOr0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 10, 1) }}</div>
			<div class="accueil_HighSc_Med_case"><img src={{ asset('bundles/UserBundle/MedAg0.png') }} alt="Med">x{{accueilHSServ.highScMed("MedLx", 10, 2) }}</div>
			</div></div>
		</div>

		<div class="sous_bloc_accueil_HighScore_QnF">
			<a href="{{ path('mdqgene_highScore', {'crit':'highScKM'}) }}"><div class="titre_sous_bloc_accueil_HighScore"><div class="titre_sous_bloc_accueil_HighScore_txt">Meilleur score</br>au KingMaster</div></div></a>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">1 - <a {{accueilHSServ.highScHref("highScKM", 1) }}> {{accueilHSServ.highScUser("highScKM", 1) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 1) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">2 - <a {{accueilHSServ.highScHref("highScKM", 2) }}> {{accueilHSServ.highScUser("highScKM", 2) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 2) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">3 - <a {{accueilHSServ.highScHref("highScKM", 3) }}> {{accueilHSServ.highScUser("highScKM", 3) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 3) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">4 - <a {{accueilHSServ.highScHref("highScKM", 4) }}> {{accueilHSServ.highScUser("highScKM", 4) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 4) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">5 - <a {{accueilHSServ.highScHref("highScKM", 5) }}> {{accueilHSServ.highScUser("highScKM", 5) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 5) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">6 - <a {{accueilHSServ.highScHref("highScKM", 6) }}> {{accueilHSServ.highScUser("highScKM", 6) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 6) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">7 - <a {{accueilHSServ.highScHref("highScKM", 7) }}> {{accueilHSServ.highScUser("highScKM", 7) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 7) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">8 - <a {{accueilHSServ.highScHref("highScKM", 8) }}> {{accueilHSServ.highScUser("highScKM", 8) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 8) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">9 - <a {{accueilHSServ.highScHref("highScKM", 9) }}> {{accueilHSServ.highScUser("highScKM", 9) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 9) }}</div>
			</div>
			<div class="listescore_bloc_accueil_HighScore">
			<div class="accueil_HgSc_gauche">10 - <a {{accueilHSServ.highScHref("highScKM", 10) }}> {{accueilHSServ.highScUser("highScKM", 10) }} </a></div>
			<div class="accueil_HighSc_Score">{{accueilHSServ.highScScore("highScKM", 10) }}</div>
			</div>
		</div>
