{# src/MDQ/GeneBundle/Resources/views/accueilJeu.html.twig #}

{% extends "MDQGeneBundle::layoutG.html.twig" %}

	{% block fixe_taille %}
	<div id="page_accueil_jeu">
	{% endblock %}
	
{% block body_gene %}

	<div id="bloc_flash_message"><div id="flash_message">
	  <strong id="mess_flash_1">Vous devez être connecté pour accéder aux jeux.</strong>
	  <strong id="mess_flash_2">Vous n'avez plus assez de jetons pour jouer à ce jeu.</strong>
	  <strong id="mess_flash_3">Ce jeu n'est pas disponible actuellement.</strong>
	
	<div id="flash_message_croix">x</div>
	</div></div>
	<div id="accueil_jeu_Mq" class="bloc accueil_jeu_bloc">
	<div class="accueil_jeu_bloc_logo">
	  <div class="accueil_jeu_logo"><img src="../bundles/mdqgene/images/GrosLogoMq.png" alt="titreMQ" width="100%"></div>	
	</div>	
	<div id="accueil_jeu_bloc_boutonGo"><div id="accueil_jeu_boutonGo">
	 <a {{accueilJServ.testAccessAJ("Mq", app.user)}} ><strong class={{accueilJServ.selectFlash("Mq", app.user)}}> <img src="../bundles/mdqgene/images/LogoMqGo.png" alt="titre" width="100%"> </strong></a>
	
	</div> </div></div>
	<div class="bloc accueil_jeu_bloc" id="bloc_accueil_jeu_bloc_Cq">
	   <div id="accueil_jeu_Capitaine" class="accueil_jeu_bloc_logo"><div class="accueil_jeu_logo"><img src="../bundles/mdqgene/images/GrosLogoQm.png" alt="titreQM" width="100%"></div></div>
	  <div id="accueil_jeu_bloc_QnF">
	 <div id="accueil_jeu_bloc_QnF_1">
	 <a {{accueilJServ.testAccessAJ("Ar", app.user)}} ><div class="accueil_jeu_QnF" id="accueil_jeu_QnF_Tv"><strong class={{accueilJServ.selectFlash("Ar", app.user)}}> <img src="../bundles/mdqgene/images/GrosLogoAr.png" alt="ArQuizz" width="100%"> </strong></div></a>
	  <a {{accueilJServ.testAccessAJ("Ff", app.user)}} ><div class="accueil_jeu_QnF" id="accueil_jeu_QnF_Tv"><strong class={{accueilJServ.selectFlash("Ff", app.user)}}> <img src="../bundles/mdqgene/images/GrosLogoFf3.png" alt="FfQuizz" width="100%"> </strong></div></a>
	 </div>
	 <div id="accueil_jeu_bloc_QnF_2">
	 <a {{accueilJServ.testAccessAJ("Wz", app.user)}} ><div class="accueil_jeu_QnF" id="accueil_jeu_QnF_Tv"><strong class={{accueilJServ.selectFlash("Wz", app.user)}}> <img src="../bundles/mdqgene/images/GrosLogoWz.png" alt="WzQuizz" width="100%"> </strong></div></a>
	 <a {{accueilJServ.testAccessAJ("Lx", app.user)}} ><div class="accueil_jeu_QnF" id="accueil_jeu_QnF_Tv"><strong class={{accueilJServ.selectFlash("Lx", app.user)}}> <img src="../bundles/mdqgene/images/GrosLogoLx.png" alt="LxQuizz" width="100%"> </strong></div></a>
	  </div>
	
	  </div>
	  <div id="accueil_jeu_QnF_comment">
	     <div id="accueil_jeu_QnF_comment_txt"></div>
	  </div>
	</div>
	<div id="accueil_jeu_bloc_menu">
	<div class="bloc_menu">
	  <ul>
	  <li><a href="{{ path('mdqgene_accueil') }}"><img src="{{ asset('bundles/mdqgene/images/petiteboulejaune.png') }}" alt="bjaune" width="20px">Accueil</a></li>
		</ul>
	</div>
	</div>
	</div>
{% endblock %}
{% block bas_page %}
	{% endblock%}
	
{% block javascripts %}
	<script	src="{{ asset('bundles/jquery.js') }}"></script>
	<script	src="{{ asset('bundles/mdqgene/js/gene.js') }}"></script>

{% endblock %}
