
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"FfQuizz", 'entete':2})}}"><div class="arbra_onglet">Quizz Nature</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"LxQuizz", 'entete':2})}}"><div class="arbra_onglet">Quizz Géo</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"WzQuizz", 'entete':2})}}"><div class="arbra_onglet">Quizz Wouzou</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"ArQuizz", 'entete':2})}}"><div class="arbra_onglet">Quizz Art</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"MuQuizz", 'entete':2})}}"><div class="arbra_onglet">Musique classique</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"SexyQuizz", 'entete':2})}}"><div class="arbra_onglet">Sexy quizz</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"TvQuizz", 'entete':2})}}"><div class="arbra_onglet">Quizz Tv</div></a>
	    <a href="{{ path('mdqadmin_arbratheme', {'entete':1})}}"> <div class="arbra_onglet">Autres</div></a>	     


