
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"Histoire"})}}"><div class="arbra_onglet">Histoire</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"Géographie"})}}"><div class="arbra_onglet">Géographie</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"Sciences et nature"})}}"><div class="arbra_onglet">Sciences et nature</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"Arts et Littérature"})}}"><div class="arbra_onglet">Arts et Littérature</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"Sports et loisirs"})}}"><div class="arbra_onglet">Sports et loisirs</div></a>
	     <a href="{{ path('mdqadmin_arbratheme', {'dom1':"Divers"})}}"><div class="arbra_onglet">Divers</div></a>
	    <a href="{{ path('mdqadmin_arbratheme', {'entete':2})}}"> <div class="arbra_onglet">Autres</div></a>


