
{% extends "MDQGeneBundle:Gene:layoutHighSc.html.twig" %}



{% block liste_scores %}

		
		 {% for scuser in scusers %}

			
			{% set number=loop.index+(pagi.page-1)*pagi.nbParPage %}
		<div class="ligne_HSc_Med">
		<span class="num_nom" >{{number}}- 
		<a href="{{ path('mdquser_profileU', {'id':scuser.id}) }}" {%if scuser.id==id_connect %}style="color:rgb(128,255,255);"{%elseif scuser.id==id_search %} style="color:rgb(255,168,168);" {%endif%}> {{scuser.username}} </a>
		</span>
		<span class="score">
			{% if scuser.wz1+scuser.wz2+scuser.wz3+scuser.wz4+scuser.wz5==0 %}
				Meilleur classement : {{scuser.highClassDayWz}}ème
			{% else %}
				<span class="bloc_med">
					<img src={{ asset('bundles/mdquser/images/MedOr0.png') }} alt="Med">x{{scuser.wz1}}
				</span>
				<span class="bloc_med">
					<img src={{ asset('bundles/mdquser/images/MedAg0.png') }} alt="Med">x{{scuser.wz2}}
				</span>
				<span class="bloc_med">
					<img src={{ asset('bundles/mdquser/images/MedBz0.png') }} alt="Med">x{{scuser.wz3}}
				</span>
				<span class="bloc_med">
					<img src={{ asset('bundles/mdquser/images/MedCh0.png') }} alt="Med">x{{scuser.wz4}}
				</span>
				<span class="bloc_med">
					<img src={{ asset('bundles/mdquser/images/MedCt0.png') }} alt="Med">x{{scuser.wz5}}
				</span>
			{% endif %}
		</span></div>
		 {% endfor %}

{% endblock %}
