{# src/MDQ/QuestionBundle/Resources/views/Question/statQ.html.twig #}

{% extends "MDQAdminBundle::layoutA.html.twig" %}

{% block title %}
  Arbratheme
{% endblock %}

{% block admin_body %}
	<h3>Arbratheme</h3>
	<div id="arbra_bloc_onglet">

	{% include("MDQAdminBundle:Admin/Arbratheme:entete"~entete~".html.twig") %}
	</div>
	{% if dom1.nom=="none" %}Accueil
	{% else %}<a href="{{ path('mdqadmin_arbratheme', {'dom1':dom1.nom, 'entete':entete, 'viewDom2':1})}}"><div id="arbra_viewDom2">Voir Dom2</div></a>
	      <a href="{{ path('mdqadmin_arbratheme', {'dom1':dom1.nom, 'entete':entete, 'viewDom2':0})}}"><div id="arbra_viewDom2">Cacher Dom2</div></a>
	       <h3>{{dom1.nom}}</h3>
	      <div>{{dom1.nbQ}} questions - {{dom1.d1|round }} % | {{dom1.d2|round }} % | {{dom1.d3|round }} % | {{dom1.d4|round }} % | {{dom1.d5|round }} % </div>
	      <div><span class="arbra_stats_dom3" style="font-size:13px;">{{adminTwig.arbraBaseCompar(dom1.nom)}}</span></div>
	      {% for theme in themes %}
	      <div><div class="arbra_titre">{{theme.nom}}</div>
	      <div>{{theme.nbQ}} questions - {{theme.prct1|round}} | {{theme.prct2|round}} | {{theme.prct3|round}} | {{theme.prct4|round}} | {{theme.prct5|round}}</div>
	      </br>
		{% for dom3 in theme.dom3map %}
		<div style="text-indent:45px;">{{dom3.nom}}  <span class="arbra_stats_dom3">({{dom3.nbQ}} - {{dom3.prct1|round}} | {{dom3.prct2|round}} | {{dom3.prct3|round}} | {{dom3.prct4|round}} | {{dom3.prct5|round}})</span></div> 
		    {% if viewDom2==1 %}
			    {% for dom2 in dom3.dom2 %}
				  <div style="text-indent:85px;"><span class="arbra_stats_dom3">{{dom2.1}}</span></div>
			    {% endfor %}
		    {% endif %}
		{% endfor %}
	      </div>
	      {% endfor %}
	{% endif %}
{% endblock %}

